<?xml version="1.0" encoding="UTF-8"?>
<page xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:noNamespaceSchemaLocation="http://www.simpleframework.net/xsd/default/simple.xsd">
	<scriptEval>single</scriptEval>
	<scriptInit>
		<![CDATA[
		import net.simpleframework.organization.component.userpager.UserPagerUtils;
		import net.simpleframework.content.bbs.BbsUtils;
		import net.simpleframework.my.space.MySpaceUtils;
		import net.simpleframework.content.news.NewsUtils;
		]]>
	</scriptInit>
	<importPage>
		<value>${UserPagerUtils.xmlUserutils()}</value>
		<value>${NewsUtils.deployPath}jsp/news_announce.xml</value>
		<value>${MySpaceUtils.deployPath}jsp/my_space_utils.xml</value>
	</importPage>
	<components>
		<menu name="mainMenu" containerId="_simple_menu" minWidth="130"
			runImmediately="false">
			<jsBeforeShowCallback><![CDATA[
			    menu.className="menu desktop m";
			]]></jsBeforeShowCallback>
			<menuitem title="首页" url="/manager/home.html"></menuitem>
			<menuitem title="消息" url="/manager/message.html"></menuitem>
			<menuitem title="评论" url="/manager/remark.html"></menuitem>
			<menuitem title="站点" url="/manager/site.html"></menuitem>
			<menuitem title="企业" url="/manager/company.html"></menuitem>
			<menuitem title="界面" url="/manager/desktop.html"></menuitem>
			<menuitem title="广告" url="/manager/ad.html"></menuitem>
			<menuitem title="功能" url="/manager/function.html"></menuitem>
			<menuitem title="系统管理">
				<menuitem title="用户管理" url="/manager/user.html"></menuitem>
				<!--<menuitem title="角色管理" url="/manager/job.html"></menuitem> <menuitem 
					title="字典管理" url="/manager/dict.html"></menuitem> -->
				<menuitem title="文件管理" url="/manager/file.html"></menuitem>
			</menuitem>
		</menu>

		<ajaxRequest name="ajaxLogout" confirmMessage="#(Itsite.1)"
			handleClass="net.simpleframework.organization.component.login.LoginAction"
			handleMethod="logout">
			<jsCompleteCallback>location.reload();</jsCompleteCallback>
		</ajaxRequest>
		<ajaxRequest name="doLanguage" handleClass="net.simpleos.SimpleosAjaxHandle"
			handleMethod="doLanguage">
			<jsCompleteCallback>
				<![CDATA[
					 location.reload();
				]]>
			</jsCompleteCallback>
		</ajaxRequest>
		<ajaxRequest name="doSkin" handleClass="net.simpleos.SimpleosAjaxHandle"
			handleMethod="doSkin">
			<jsCompleteCallback>
				<![CDATA[
					 location.reload();
				]]>
			</jsCompleteCallback>
		</ajaxRequest>

		<messageWindow name="systemNotificationWindow"
			frequency="15"
			handleClass="net.simpleframework.applets.notification.SystemMessageNotificationHandle">
		</messageWindow>
		<ajaxRequest name="deleteNotificationAct"
			handleClass="net.simpleframework.applets.notification.NotificationAction"
			handleMethod="deleteNotification">
			<jsCompleteCallback>
					<![CDATA[
						var o = $('_pre_0');
						var o1 = $('_pre_1');
						if(o||o1){
							__message_view_click(o,0);
							__message_view_click(o1,1);
						}
					]]>
				</jsCompleteCallback>
		</ajaxRequest>
		<ajaxRequest name="aboutAjaxAct">
			<urlForward>/simple/main/let/_about.jsp</urlForward>
		</ajaxRequest>
		<window name="aboutWinAct" contentRef="aboutAjaxAct" title="关于"
			draggable="false" popup="true" resizable="false" width="750" height="350"
			modal="true" showCenter="true"></window>
	</components>
</page>