.Category_BlankTemplatePage>table {
	table-layout: fixed;
	width: 100%;
	border-spacing: 0;
}

.Category_BlankTemplatePage1>table {
	table-layout: fixed;
	width: 100%;
	border-spacing: 0;
}

.Category_BlankTemplatePage>table td {
	padding: 0;
}

.Category_BlankTemplatePage .category {
	background: #eef;
}

.Category_BlankTemplatePage .category .c_item {
	text-align: left;
	line-height: 40px;
	padding-left: 20px;
	border: 1px solid transparent;
	border-bottom-color: #888;
	margin: -1px 30px 0 30px;
	font-size: 10.5pt;
}

.Category_BlankTemplatePage .category .selected,.Category_BlankTemplatePage .category .c_item:hover
	{
	background-color: #fff;
	border-color: #aaa;
	-webkit-box-shadow: 1px 1px 5px #999;
	box-shadow: 1px 1px 5px #999;
}

.Category_BlankTemplatePage .category .c_item:hover {
	transition: background-color 0.4s;
	-moz-transition: background-color 0.4s;
	-webkit-transition: background-color 0.4s;
	-ms-transition: background-color 0.4s;
}

.Category_BlankTemplatePage .category .selected {
	background: url(images/arrow-right.png) no-repeat 96% center #fff;
}

.Category_BlankTemplatePage .category .selected a {
	font-weight: bold;
}

.Category_BlankTemplatePage .category sup {
	color: white;
	margin-left: 4px;
	padding: 0 4px;
	background-color: #d00;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	border-radius: 8px;
	border-radius: 0px\9\0;
}

.Category_BlankTemplatePage .col2 {
	min-height: 640px;
	border-left: 1px solid #aaa;
}

.Category_BlankTemplatePage1 .col2 {
	min-height: 640px;
	border-left: 1px solid #aaa;
}

.Category_ListTemplatePage {
	padding: 2px;
}

.Category_ListTemplatePage .category_bar {
	border: 1px solid #ccc;
	padding: 8px;
	margin-bottom: -1px;
}