<?xml version="1.0" encoding="utf-8"?>
<modules>
	<module name="docu" text="文档">
		<action>
		<![CDATA[$IT.A('functionDocu','type=docu');]]>
		</action>
		<module name="docu_down" text="下载记录">
			<action><![CDATA[$IT.A('functionDocu','type=docudown');]]>
			</action>
		</module>
		<module name="docu_audit" text="未审核">
			<action><![CDATA[$IT.A('functionDocu','type=docu&status=audit');]]>
			</action>
		</module>
	</module>
</modules>

