<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
</head>
<body>
<p>${toUser}, 您好：</p>
<p><span style="font-weight: bold; color: rgb(0, 128, 0);">${fromUser}</span>回复了您关注的话题，该话题由<span
	style="font-weight: bold; color: rgb(0, 128, 0);">${createUser}</span>在<em>${createDate}</em>创建。</p>
<p><span style="font-size: 18px; font-weight: bold; color: rgb(157, 39, 3);">&ldquo;${topic}&rdquo;</span></p>
<p>您可以点击如下地址阅读全文：<br />
${topicHref}</p>
</body>
</html>