<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<style>
div,td,p {
	font-family: 'Microsoft YaHei', verdana, arial, tahoma, sans-serif;
	font-size: 11pt;
	color: #014378;
}
</style>
	</head>
	<body>
		<p>
			${usertext}，您好：
		</p>
		<p>
			${sitename}已经收到了您找回登录密码的申请，现在您可以点击下面的确认链接修改你的登录密码：
			<a href="${url}" style="font-size: 14px;">点击这里，立即修改登录密码</a>

			如果您的邮件阅读程序不支持点击，请将下面的地址拷贝至您的浏览器（例如IE）的地址栏后打开。

			${url}
		</p>
	</body>
</html>
