.startmenu {
	padding: 5px 2px 5px 2px;
	height: 400px;
	width: 150px;
	z-index: 100000;
	background-color: #4D545B;
	filter: alpha(opacity =           95);
	-moz-opacity: 0.95;
	opacity: 0.95;
	-moz-box-shadow: -10px -10px -10px -10px #999 inset;
	/* For Firefox3.6+ */
	-webkit-box-shadow: -5px -5px -5px -5px #999 inset;
	/* For Chrome5+, Safari5+ */
	box-shadow: -10px -10px -10px -10px #999 inset;
	background-color: #4D545B;
}
.startmenu .startmenu1 {
	left:145px;
    top:-5px;
}
.startmenu .content {
	height: 400px;
	width: 150px;
	background-color: #DCE6F4;
	position: absolute;
}

.startmenu .content .more {
	background-image: url(images/more.png);
	background-repeat: no-repeat;
	background-position: 94% 50%;
}

.startmenu .content  .icon {
	background-repeat: no-repeat;
	background-position: 10px 50%;
}
.startmenu .content  .iconsplit {
	background-repeat: no-repeat;
	background-position: 12px 50%;
	background-image: url(images/split.png);
}


.startmenu .content .submenu { /*border: 1px solid #AAA;*/
	_background-image: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #9E6728;
	line-height: 20px;
}

.startmenu .content a:hover {
	border: 1px solid #AAA;
	background-image: url(images/hover.png);
	_background-image: none;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	border-radius: 2px;
	color: #9E6728;
}

.startmenu .content a {
	line-height: 17pxurl(0 );
}

.startmenu .content a {
	padding: 2px 15px 2px 22px;
	height: 17px;
	line-height: 16px;
	margin: 0 3px;
	border: 1px solid transparent;
	_border-color: tomato;
	_filter: chroma(color =     tomato);
	line-height: 20px 9;
	color: #014060;
}

.startmenu .content a:hover {
	text-decoration: none;
}

.startmenu .content a {
	display: block;
	cursor: default;
	outline: none;
}