#_loginForm {
	text-align: left;
}

#_loginForm .lm {
	padding-left: 19px;
	height: 16px;
	padding-top: 2px\9;
}

#_loginForm div {
	margin: 4px 0;
}

#_accountName,#_passwordName {
	width: 99%;
	width: 98% \9;
	height: 18px;
	line-height: 18px;
}

body {
	background: url(images/login_bg.gif) repeat;
}

.LoginPage {
	margin-top: 60px;
	background: url(images/login_bg.png) no-repeat;
	width: 761px;
	height: 500px;
	border: 2px solid #444;
	-webkit-box-shadow: 0px 0px 20px #666;
	-moz-box-shadow: 0px 0px 20px #666;
	box-shadow: 0px 0px 20px #666;
	position: relative;
}

.LoginPage .lComp {
	margin: 280px 40px 0 0;
	width: 270px;
	float: right;
}

.LoginPage .lComp label {
	color: #fff;
}

.LoginPage .lComp #_accountName,.LoginPage .lComp #_passwordName {
	border: 1px solid #666;
	height: 22px;
	line-height: 22px;
}

.LoginPage .admin {
	bottom: 60px;
	color: #440000;
	font-size: 9.5pt;
	position: absolute;
	right: 200px;
}