body {
	background: #F9F9F9;
}
#site_header2 {
	border-top: 6px solid #228B22;
}
#t_header #simple_new_function {
	background: url(images/new.gif) right center no-repeat;
	font-weight: bold;
	padding-right: 20px;
}

#header1,#header3 {
	width: 1000px;
	text-align: center;
}

#header4 {
	background: url("images/nav_bg_kn.png");
}

#header2 {
	background: url(images/header_bg.png);
}

#t_header {
	width: 100%;
	margin-bottom: 4px;
}

#t_header .logobar {
	height: 70px;
	border-left: 0px solid #bbb;
}

#t_header .logo {
	width: 100px;
	height: 70px;
	display: inline-block;
	vertical-align: top;
}

#t_header #t_header_tb {
	text-align: right;
	vertical-align: top;
	padding-top: 2px;
}

#t_header #t_header_tb * {
	color: #000;
}

#t_header .tb a {
	color: #000;
}

#t_header .tb a:hover {
	color: #F8DDC1;
}

#t_header .menubar {
}

#t_body {
	padding: 6px;
	min-height: 450px;
	border: 1px solid #ccc;
	background-color: #fff;
}

#t_body .c_left {
	float: left;
	width: 720px;
}

#t_body .c_right {
	float: right;
	width: 264px;
}

#t_body .splitbar {
	background: url(images/bg_splitbar.png);
	width: 5px;
	cursor: e-resize;
	border: 1px solid #ccc;
	height: 420px;
}

#t_body .splitbar_h {
	background: url(images/bg_splitbar_h.png);
	width: 100%;
	cursor: n-resize;
	border: 1px solid #ccc;
	height: 5px;
}

#t_body .tablepager {
	border: 1px solid #bbb;
}

#t_footer {
	border: 1px solid #CCC;
	border-top: 0px;
	text-align: center;
	line-height: 140%;
	padding: 20px 0px;
	background: #F7FBF1;
}

.google_ad {
	border: 1px solid #ccc;
	padding: 10px;
	margin-top: 5px;
}

.block_layout1,.block_layout2 {
	margin: 0px 0px 5px 5px;
}

#t_body .main_nav {
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 3px 8px;
	padding: 6px 8px 3px 8px\9;
	background: #f4f9f4;
}

/***************************************************/
	/*                   deprecated                    */
	/***************************************************/
.props_table {
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

.props_table .l {
	background: #f4fff4;
	text-align: right;
	width: 100px;
	padding-right: 4px;
	color: #7C1916;
}

.props_table .v {
	background: #fff9f9;
}

#t_body .code {
	border: 1px solid #ccc;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
	background: #fafffa;
	width: 90%;
	color: #666;
}

#t_body .cc,#t_body .dd,#t_body .ee {
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
}

#t_body .tt {
	border: 3px double #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 10px;
	background: #fbffe1;
}

#t_body .cc2 {
	border: 1px solid #ddd;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	padding: 4px 16px 12px 16px;
}

#t_body .cc {
	min-height: 450px;
	line-height: 160%;
	margin: 6px 0px;
	padding: 4px 12px 12px;
}

#t_body .dd {
	background: #fef8fe;
	margin: 6px 0px;
	padding: 6px;
}

#t_body .ee {
	background: #fbfbfb;
	padding: 6px 12px;
	padding: 8px 12px 4px 12px\9;
	margin: 4px 0px 8px 0px;
}

.displayOut {
	font-weight: bold;
	color: #CF460C;
}

input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:hover,button:hover
	{
	-webkit-box-shadow: 0 0 9px #aaa;
	box-shadow: 0 0 9px #aaa;
	transition: box-shadow .3s;
	-moz-transition: -moz-box-shadow .3s;
	-webkit-transition: -webkit-box-shadow .3s;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8),
		to(#f1f1f1) );
	background-image: -webkit-linear-gradient(top, #f8f8f8, #f1f1f1);
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	background-color: #F8F8F8;
	background-image: linear-gradient(top, #f8f8f8, #f1f1f1);
	background-image: -o-linear-gradient(top, #f8f8f8, #f1f1f1);
	border: 1px solid #C6C6C6;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
	color: #333;
}

input[type="button"],input[type="submit"],input[type="reset"],button {
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5),
		to(#f1f1f1) );
	background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
	-webkit-border-radius: 3px;
	-webkit-user-select: none;
	background-color: whiteSmoke;
	background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
	background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
	border: 1px solid gainsboro;
	border: 1px solid rgba(0, 0, 0, 0.1);
	border-radius: 3px;
	color: #666;
	font-weight: bold;
	height: 26px;
	line-height: 26px;
	min-width: 54px;
	padding: 0 8px;
	text-align: center;
	cursor: pointer;
}

.button22:hover {
	background-image: url("images/bg_button2_focus.png");
}

.button22 {
	color: white !important;
	background-image: url("images/bg_button2.png");
}

.hsep {
	border-top: 1px dashed #CCC;
	margin-top: 6px;
	padding-top: 6px;
}

.vsep {
	border-left: 1px dashed #CCC;
	margin-left: 6px;
	padding-left: 6px;
}

.portal .jbox {
	position: relative;
	background: white url(images/title_bg.png) repeat-x;
	border: 1px solid #DDD;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #DDD;
}

.block_layout1 .t1 {
	border-bottom: 2px solid #3393c9;
	background: white;
	padding: 0 0 0 0;
}

.ts {
	padding: 0 0 2px 0;
	font-size: 15px;
	background: #3393c9;
	color: white;
	padding: 2px 10px;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-radius: 5px 5px 0 0;
}

._red {
	color: red;
}

.voteCommon {
	position: absolute;
	z-index: 0;
	margin-top: -48px;
	padding: 2px 10px;
	color: white;
	background: #5490C0;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	color: white;
	color: white;
	color: white;
}

.voteUp,.voteDown {
	cursor: pointer;
}

.voteUp {
	padding-right: 10px;
}

.voteDown {
	padding-left: 10px;
}

.voteValue {
	background: white;
	color: #B13D0A;
	font-weight: bold;
	padding: 1px 6px;
}

.simple_toolbar,.simple_toolbar1,.simple_toolbar2,.simple_toolbar3 {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.newspager_template,#idNewsRemark {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.show_template,#idNewsRemark {
	border: 1px solid #bbb;
	padding: 8px;
	text-align: left;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

#idNewsRemark .list {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}

.show_template {
	background-color: #fdffff;
}

.show_template .nav2 {
	border-bottom: 1px dashed #ccc;
	padding: 4px 0px;
	margin-bottom: 4px;
}

.show_template .sj {
	border-bottom: 1px dashed #ccc;
	text-align: center;
}

#idNewsRemark {
	margin-top: 8px;
}

div h1 {
	font-size: 18pt;
	text-align: center;
}

.cnblogs_code {
	background-color: #FFFCFF;
	font-family: Courier New;
	font-size: 12px;
	border: 1px solid #CCC;
	padding: 5px;
	word-break: break-all;
	overflow: auto;
}

.cnblogs_code span {
	font-size: 12px;
	font-family: Courier New;
}

.cnblogs_code ol {
	list-style: decimal;
	margin: 0px 0px 1px 3em !important;
	padding: 5px 0;
}

.cnblogs_code ol,.cnblogs_code ol li,.cnblogs_code ol li span {
	margin: 0 0;
	padding: 0;
	border: none;
}

.rred {
	color: red;
}

.go {
	width: 47px;
	height: 106px;
	background-color: #FFF;
	position: fixed;
	_position: absolute;
	right: 2px;
	bottom: 25px;
	border-radius: 5px;
	box-shadow: 0 0 2px #6E6E6E
}

.go a {
	background: url(images/gotop.png) no-repeat;
	display: block;
	text-indent: 999em;
	line-height: 999px;
	width: 37px;
	margin: 5px;
	border: 0;
	overflow: hidden;
	float: left
}

.go .top {
	background-position: 0 -33px;
	height: 22px
}

.go .feedback {
	background-position: 0 -54px;
	height: 32px
}

.go .bottom {
	background-position: 0 -88px;
	height: 22px
}

.go .top:hover {
	background-position: -38px -33px
}

.go .feedback:hover {
	background-position: -38px -54px
}

.go .bottom:hover {
	background-position: -38px -88px
}

.space_img {
	background: url('images/img.gif') 0 center no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}

.space_vote {
	background: url('images/vote.gif') 0 center no-repeat;
	width: 16px;
	height: 16px;
	display: inline-block;
	vertical-align: middle;
}

.os_tag {
	display: inline-block;
	border: 1px solid #DDD;
	margin: 4px 0px;
	padding: 4px;
	background: #F4F9FF;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	text-decoration: none;
}

.os_tag:hover {
	background: #5490C0;
	text-decoration: none;
}

.fbold {
	font-weight: bold;
}